Uebung.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="node">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="schriftzug">
                    <xs:complexType>
                        <xs:simpleContent>
                             <xs:extension base="xs:string">
                                <xs:attribute name="Schönheit" type="xs:int"></xs:attribute>
                                <xs:attribute name="Leserlichkeit" type="xs:int"></xs:attribute>
                                <xs:attribute name="Art" type="xs:string"></xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>   
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>